$primary-color: #ee4d2d;
$white-color: #fff;
$black-color: #000;
$text-color: #333;
$border-color: #dbdbdb;
$star-gold-color: #ffce3e;

.home-product-item__wrap-link {
    display: block;
    text-decoration: none;

    .home-product-item {
        position: relative;
        margin-top: 10px;
        background-color: $white-color;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        transition: transform linear 0.1s;
        will-change: transform;
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 1px 20px 0 $border-color;
        }

        &__img {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;
        }

        &__name {
            margin: 10px 10px 0px;
            line-height: 1.8rem;
            height: 3.6rem;
            display: block;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            /* overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; */
        }

        &__price {
            align-items: baseline;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            &-old {
                margin-left: 10px;
                color: #666;
                text-decoration: line-through;
            }

            &-current {
                color: $primary-color;
                margin-left: 10px;
            }
        }

        &__action {
            display: flex;
            justify-content: space-between;
            margin: 6px 10px 0;
        }

        &__like {
            font-size: 1.3rem;
            &-icon-fill {
                color: #f63d30;
                display: none;
            }
        }
        &__like--liked .home-product-item__like-icon-empty {
            display: block;
            color: #d5d5d5;
        }
        &__like--liked .home-product-item__like-icon-fill {
            display: block;
        }

        &__rating {
            display: flex;
            justify-content: space-between;
            margin: -1 0 0 auto;
            font-size: 1rem;
            transform: scale(0.8);
            /* zoom: 2; */
            transform-origin: right;
            color: #d5d5d5;
        }

        &__star--gold {
            color: $star-gold-color;
        }

        &__sold {
            margin-left: 6px;
            font-size: 1.2rem;
            color: $text-color;
        }

        &__origin {
            display: flex;
            justify-content: space-between;
            margin: 3px 10px 0;
            color: #595959;
            font-weight: 300;
            font-size: 1.2rem;
        }

        &_favourite {
            position: absolute;
            top: 10px;
            left: -4px;
            font-size: 1.2rem;
            color: $primary-color;
            background-color: currentColor;
            font-weight: 400;
            padding-right: 4px;
            line-height: 1.6rem;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;

            &::before {
                position: absolute;
                left: 0;
                bottom: -3px;
                content: "";
                border-top: 3px solid currentColor;
                border-left: 3px solid transparent;
                filter: brightness(60%);
            }

            span {
                color: $white-color;
            }

            i {
                color: $white-color;
                font-size: 0.9rem;
                margin: 0 2px 0 5px;
            }
        }

        &__sale-off {
            border-top-right-radius: 2px;
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            background-color: rgba(255, 216, 64, 0.94);
            text-align: center;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -4px;
                border-width: 0 20px 4px;
                border-style: solid;
                color: rgba(255, 216, 64, 0.94);
                border-color: transparent currentColor transparent currentColor;
            }
        }

        &__sale-off-percent {
            color: #ee4d2d;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.2rem;
            position: relative;
            top: 1px;
            left: 8px;
        }

        &__sale-off-label {
            color: $white-color;
            font-size: 0.9rem;
            line-height: 1.3rem;
            font-weight: 600;
            position: relative;
            top: 18px;
            right: 27px;
        }
    }
}
