.carousel_pd .slick-next::before {
    font-size: 35px;
    color: indigo;
}
.carousel_pd .slick-prev::before {
    font-size: 35px;
    color: indigo;
}
.ant-card-cover {
    height: 256px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
